body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: aliceblue;
  font-family: sans-serif;
}

.btn {
  --xPos: 0;
  --yPos: 0;
  background-color: rgb(17, 17, 17);
  padding: 20px 40px;
  border-radius: 50px;
  box-shadow: 0 4px 8px #000000b7;
  text-decoration: none;
  color: rgb(221, 221, 221);
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  background-color: orangered;
  width: 0px;
  height: 0px;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.6s, height 0.6s;
}

.btn:hover::before {
  width: 300px;
  height: 300px;
}



