/*FONTS*/
@font-face {
  font-family: "MTNBrighterSans";
  src: url("ttf/MTNBrighterSans-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: "MTNBrighterSans";
  src: url("ttf/MTNBrighterSans-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: "MTNBrighterSans";
  src: url("ttf/MTNBrighterSans-ExtraBold.ttf") format("truetype");
  font-weight: 700; /* Extra weight */
}
/*=======================================================*/

body {
  font-family: "MTNBrighterSans", sans-serif !important;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: aliceblue;
}
/*=======================================================*/
.btn {
  --xPos: 0;
  --yPos: 0;
  background-color: #111111;
  padding: 20px 40px;
  border-radius: 50px;
  box-shadow: 0 4px 8px #000000b7;
  text-decoration: none;
  color: #dddddd;
  position: relative;
  overflow: hidden;
}
/*=======================================================*/
.btn span {
  position: relative;
  z-index: 1;
  font-weight: 700;
}
/*=======================================================*/
.btn::before {
  content: "";
  position: absolute;
  background-color: orangered;
  width: 0px;
  height: 0px;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.6s, height 0.6s;
}
/*=======================================================*/
.btn:hover::before {
  width: 300px;
  height: 300px;
}
